html,body {
  height: 100%;
}

body {
  position: relative;
  background-color: white;
}

.site-wrapper {
  height: 100%;

}

.site-navbar {
margin-bottom: 0;
}

.footer {
  background-color: #1D1D1D;
  width: 100%;
  height: 80px;
  color: white;
}

.content-wrapper {
  height: 90%;
}
.site-content {
  background-color: #D3D3D3	;
  height: 100%;
  width: 100%;
  }

  .site-navigation {
    float: right;
  }

  .cover-img {
    width:100%;
  }
